{% extends 'base.html' %}

{% block title %}Bookings{% endblock title %}

{% block style %}
{% endblock style %}

{% block body %}

<div class="container mt-3 p-4">
    <div class="row">
        <!-- <div class="col-1"></div> -->
        <div class="col-auto">
            <h3 style="color:rgb(0, 187, 255)">Previous Booking</h3>
            <table class="table jumbotron">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Vehicle Number</th>
                        <th scope="col">Service</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                {% if current_user.email == "admin@gmail.com" %}
                {% for a in query %}
                <tbody>
                    <tr>
                        <td>{{a.name}}</td>
                        <td>{{a.email}}</td>
                        <td>{{a.num_plate}}</td>
                        <td>{{a.description}}</td>
                        <td>{{a.status}}</td>
                        <td>
                            <a class="nav-link text-white" href="/edit-booking/{{a.cvs_id}}"><button class="btn btn-warning btn-outline-primary my-2 my-sm-0 text-white"
                                type="submit">Edit Booking</button></a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                {% for a in query %}
                <tbody>
                    <tr>
                        <td>{{a.name}}</td>
                        <td>{{a.email}}</td>
                        <td>{{a.num_plate}}</td>
                        <td>{{a.description}}</td>
                        <td>{{a.status}}</td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
                
            </table>
        </div>
    </div>
    
</div>
{% endblock %}