{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="jumbotron">

                <h3>Contact Us</h3>
                <div class="mb-3">
                    <label class="text-black form-label">Email address</label>
                    <span class="input-group-text">Contactus@automotive.com</span>
                  </div>
                  <div class="mb-3">
                    <label class="text-black form-label">Contact Our 24/7 call center</label>
                    <span class="input-group-text">+012 345 678</span>
                  </div>
                  <div class="mb-3">
                    <label class="text-black form-label">Address</label>
                    <span class="input-group-text">Bangalore, Karnataka, 560001, India</span>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}