{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">{{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>      
      {% endfor %}
      {% endif %}  
      {% endwith %}

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static\Bg\photo-1.jfif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>I thought cars were essential ingredients of life itself.</h5>
              <p>-Edward Herrmann</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static\Bg\photo-2.jfif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block ">
              <h5>All of those cars were once just a dream in somebody's head.</h5>
              <p>-Peter Gabriel</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static\Bg\photo-5.jfif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-dark">
              <h5>The cars we drive say a lot about us.</h5>
              <p>-Alexandra Paul</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>      

{% endblock body %}